@use "../../../sass/base/function" as *;

.notfound {
    .container {
        text-align: center;
        h2 {
            padding-top: 25px;
            margin-bottom: 12px;
            font-size: pxToRem(38);
        }
        p {
            font-size: pxToRem(22);
            margin-bottom: 12px;
        }
        img {
            max-width: 100%;
            max-height: fit-content;
        }
    }
}